<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PositionMapper">
    <select id="selectPageByPosition" resultType="com.example.demo.pojo.Positions">

        select * from position
        <where>
            <if test="reviewStatus!=null">
                and review_status IN
                <foreach collection="reviewStatus" item="reviewStatus" open="(" separator="," close=")">
                    #{reviewStatus}
                </foreach>
            </if>
           and is_deleted = 0
            <if test="positionName!=null">
                and position like concat('%',#{positionName},'%')
            </if>


        </where>

    </select>

</mapper>