<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PositionMapper">
    <select id="selectPageByPosition" resultType="com.example.demo.pojo.Positions">

        select * from position
        <where>
            <if test="reviewStatus!=null">
                and review_status IN
                <foreach collection="reviewStatus" item="reviewStatus" open="(" separator="," close=")">
                    #{reviewStatus}
                </foreach>
            </if>
           and is_deleted = 0
            <if test="positionName!=null">
                and position like concat('%',#{positionName},'%')
            </if>


        </where>

    </select>

    <select id="getResume" resultType="com.example.demo.pojo.dto.Position1DTO">

        select p.*,c1.company_name companyName from user u left join company_and_student c on u.id = c.student_id left join position p on p.id = c.position_id
                                                                                                                   left join company c1 on p.company_id = c1.id
        <where>

            and u.is_deleted = 0

           and c.student_id = #{studentId}

            <if test="position!=null">
                and p.position like concat('%',#{position},'%')
            </if>


        </where>

    </select>
</mapper>